body{
    background:#303030;
    color:#ddd;
    font-size:13px;
}
a{
    color:#4fc;
    cursor:pointer;
    text-decoration:underline;
}
a.block{
    display:block;
    background:#202020;
    box-shadow: 0px 0px 4px 0px #fff;
    padding:10px;
    text-decoration:none;
    color:#fff;
    text-align:center;
}
h1,h2,h3,h4,h5{
    font-weight:100;
    letter-spacing:1px;
}
header{
    background:#282828;
    border-bottom:solid 2px #4fc;
    height:50px;
    line-height:50px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:600;
}
header .title{
    margin-left:20px;
    font-size:20px;
}
header + .contents{
    padding:10px;
    max-width:800px;
    margin:0 auto;
    margin-top:50px;
}
input,
select,
textarea{
    background:#202020;
    color:#ccc;
    outline:none;
    padding:0 10px;
    line-height:35px;
    height:35px;
    border:solid 1px #aaa;
}
textarea{
    line-height:1.5rem;
    height:auto;
    min-height:200px;
}
input[type=submit],
input[type=reset]{
    cursor:pointer;
}
input[type=radio],
input[type=checkbox]{
    height:auto;
    vertical-align:middle;
}