<style>
.main{
    text-align:center;
    position:fixed;
    left:50%;
    top:50%;
    width:80%;
    transform:translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    color:#fff;
}
@media screen and ( max-width:800px){
    .main h1{
        font-size:30px;
    }
}
</style>
<div class="main">
    <h1>Hallo World!!</h1>
    <p>FLAG Sample Page.</p>
    <p><a class="block" href="#/page">Sample Page</a>
    <p><a class="block" href="#/form">Form Sample</a>
    <p><a class="block" href="#/validate">Validate Sample</a>
</div>